# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Node
node_modules/

# OS metadata
.DS_Store
.AppleDouble
.LSOverride

# Build directories
dist/
dist-zip/
build/
out/
release/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
